<style type="text/css">
	.calendar_main{
		border:10px solid #808080;
		width:99%;
	}
	
	.month_body{
		border:3px solid #808080;
		width:100%
	}
	
	.add_event{
		text-align:right;
		font-size: 10px;
		vertical-align:top;		
	}
	
	.calendar_title{
		font-size:18px;
		text-align:center;
	}
	
	.day_cell_main{ /* <td> - this wraps 'day_cell_child' <table>; used for the collapse ability? */
		border-collapse:collapse;
		vertical-align:top;	
		width:12%; /* 100/7 = ~12% */
		border:1px solid #808080;
	}

	.day_cell_child{ /* <table> - this contains all the day, events and addnew cells and links*/
		background-color: transparent;
		width:100%;
	}
	
	.calendar_weekday{	
	}	
	
	.calendar_weekend_empty{		
		background-color:#EEEEEE;
	}	
	
	.today_css{
		background-color:#FFFFDD;
	}
	
	.calendar_day { /* box that contains the day of the month */
		border:1px solid #CCCCCC;
		background-color:#E0E0E0;	  
		width:20%;
		text-align: center;
		font-size: 12px;
		height:12;
	}
	
	.calendar_week_table{
		border-collapse:collapse;		
		width:100%;
	}
	
	.calendar_events{
		height:75px;
		vertical-align:top;
		font-size: 11px;
		white-space:nowrap;
	}	
	
	.bullets{ }

	.calendar_header{
		width:100%;
		text-align:center;
		font-weight:bold;
		background-color:#E0E0E0;		
	}

	.month_control{
		text-align:left;
		vertical-align:bottom;
	}
	
	.year_control{
		text-align:right;
		vertical-align:bottom;
	}

/************************ EventList (calendar agenda) ****************************/		
	.eventlist_header{
		font-weight:bold;
		font-size: 16px;
		font-style:italic; 
	}
	
	.eventlist_events{
		font-size: 11px;	
	}
	


/************************ AddEvent.html ****************************/	
	.add_event_parent{
		border:2px solid #808080;
		background-color:#E0E0E0;
		width:	1px; /* force table to not auto-grow from textarea */
	}
	
	.add_event_main{
		background-color: transparent;
		border-collapse:collapse;
	}
	
	.select_list{
		width:100px;
		background-color:#E0E0E0;
	}	
	
	.audit_info{
		text-align:right;
		font-size: 11px;
		font-style:italic; 
		border:0px solid #808080;	
	}
	
	.batch_event_parent{
		border:1px solid #808080;
		background-color:#E0E0E0;
		width:100%;
	}
	
	.batch_examples{
		font-size: 11px;
		font-style:italic; 
		width:1%;
		border:0px solid #808080;	
	}
	
</style>